.form-input {
    /* display: flex; */
    width: 100%;
    margin-top: 2rem;
}

.editable-input{
    border: none;
    width: 100%;
    padding: 2px 5px;
}
.editable-input:focus {
    outline: none !important;
    border:none;
    box-shadow: 0 0 10px #719ECE;
  }

  .edit-disabled{
    background-color: transparent;
  }

  /* .form-control{
    width: 50%;
  }

  .class-form-uang{
    width: 50%;
    display: block;
  }

  .form-control-sm{
    width: 50%;
    border: 1px;
    
  } */